:root{
  --pink:#491e2e;
  --light-pink: #F28DB2;
  --c-pink: #F2C9E0;
  --light-blue: #89C2D9;
  --aqua: #88E8F2;
  --white: #fff;
  --font-size: 1.5rem;
  --libre: "LibreBaskerville", monospace;
  --roboto: Roboto, sans-serif;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}


html,
body,
#root{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--libre);
  background-color: var(--pink);
  color: var(--white);
  font-size: var(--font-size);
  box-sizing: border-box;
}


h1,
h2,
h3 {

  margin: 0;

}